.login-page{
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-login{
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 2% 0;
    border: 1px solid #062A5C;
    border-radius: 8px;
}

.form-login img{
    margin-bottom: 20px;
}

.form-login input{
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
}
.form-login input:focus{
    box-shadow: none;
    outline: none;
    border: 1px solid #062A5C;
}

.form-login button{
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #062A5C;
    color: white;
}

.message-error-login{
    background-color: red;
    width: 90%;
    margin: 0 auto;
    padding: 5px 0;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    display: none;
}